              body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #0a74da;
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            color: white;
            font-size: 22px;
            font-weight: bold;
        }

        .nav-links a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-size: 16px;
        }
        .nav-links a:hover {
            text-decoration: underline;
        }

.img1{
    height: 140px;
    width: 130px;
    border-color: black;
}
.home{
    margin-left: 30px;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
.abo{
    margin-left: 10px;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
.pro{
    margin-left: 10px;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
.con{
    margin-left: 10px;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
.input1{
    margin-top: 7px;
    margin-left: 700px;
}
.btn1{
    margin-top: 7px;
}
.new{
    height: 650px;
}
.container{
    margin-top: 100px;
}
.a{
    height: 650px;
}
.b{
    height: 650px;
}
.c{
    height: 650px;
}
.card img{
    height: 280px;
    object-fit: contain;

}
#productMenu{
    margin-left: 600px;
    border-radius: 5px;
    color: green;
    border-color: green;
}
#productMenu:hover{
    border-color: black;
    color: black;
    background-color: white;
}
#categoryMenu{
    margin-left: 30px;
    border-radius: 5px;
    color: green;
    border-color: green;
}
#categoryMenu:hover{
    border-color: black;
    color: black;
    background-color: white;
}

.btn{
    margin-left: 30px;
}
#sidebar{
    margin-top: 150px;
}

